.navbar {
  background-color:rgb(61, 55, 47);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.navbar__item {
  display: inline-block;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar__link:hover {
  background-color: rgb(226, 202, 202);
}

.navbar__signout {
  color: white;
}

.navbar__signout:hover {
  background-color: rgb(226, 202, 202);
}

.navbar__auth-links {
  display: flex;
  gap: 15px;
}

.navbar__auth-links li {
  display: inline-block;
}
